/*

Customize variables:

- Check the ../../arDominionB5Plugin/scss/variables.scss file.
- Check the B5 documentation (https://getbootstrap.com/docs/5.0/customize/sass/).
- Import B5 functions, variables and mixins if needed.

*/

@import "../../arDominionB5Plugin/scss/main.scss";

/*

Extend:

- Add extra SCSS and CSS imports.
- Add custom styles directly.

*/
.foot { color:#fff; background-color:$ohs-blue; padding-top:em(20); display:block; clear:both;
	.home & { margin-top:em(-100); padding-top:em(110); clear:none; }
	a { color:$ohs-yellow; text-decoration:none;
		&:hover { color:darken($ohs-yellow, 20%); }
	}
	p,
	ul { line-height:1.5; margin-top:0; }
	.input-fancy-lockup__submit { background-color:#fff;
		&:hover { background-color:$ohs-yellow; }
	}
}

.foot-signoff { @include span(4);
	@include breakpoint($tablet-portrait-down) { width:100%; }
}
.foot-signoff__title { font-family:$raleway; font-size:em(52);
	@include breakpoint($tablet-portrait-down) { font-size:em(42); }
	@include breakpoint($mobile-landscape) { font-size:em(32); }
}

.foot__right-side { @include span(3);
	@include breakpoint($tablet-portrait-down) { width:100%; clear:both; }
}
.foot__left-side { @include span(3);
	@include breakpoint($tablet-portrait-down) { width:100%; clear:both; }
}

.foot__section-title { font-size:em(20); margin-bottom:0.5em; }

.foot-contact,
.foot-support,
.foot-hours,
.foot-resources { float:left; width:50%; }
.foot-contact,
.foot-hours { padding-right:10%; clear:both;
	@include breakpoint($tablet-portrait-down) { padding-right:6.75%; }
	@include breakpoint($mobile-landscape) { padding-right:4%; }
}

.foot-support,
.foot-resources { padding-left:10%;
	@include breakpoint($tablet-portrait-down) { padding-left:6.75%; }
	@include breakpoint($mobile-landscape) { padding-left:4%; }
}

//.foot-contact,
//.foot-support,
//.foot-hours,
//.foot-resources,
//.foot-contact,
//.foot-hours { width:100%; float:none; padding-left:0; padding-right:0; }

.foot-newsletter { padding-bottom:em(7); float:left; }
.foot-social { @include clearfix; }

.foot-hours__times { font-family:$clavo; font-style:italic; }


.foot-footer { border-top:1px solid #fff; padding-top:em($spacing-4); padding-bottom:em($spacing-4); margin-top:em($spacing-4); }

.foot__copyright { text-align:right; }
.foot-footer__link { display:inline-block; padding-right:em($spacing-1); }

.foot__copyright,
.foot__legal { @include span(3);
	@include breakpoint($mobile-landscape) { width:100%; clear:both; text-align:center; }
}
.foot__legal a { color:#fff;
	&:hover { color:$ohs-yellow; }
	@include breakpoint($mobile-landscape) { width:100%; }
}

.input-fancy-lockup--foot { margin-bottom:em(10);
	.input-fancy__field--email { color:#fff; }
}
